# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Node
node_modules/
npm-debug.log

# Project specific
data/
media/
static/
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# Misc
.DS_Store